global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: node-exporter
    static_configs:
      - targets: ["203.252.166.224:9100"]

  - job_name: pushgateway
    static_configs:
      - targets: [ "pushgateway:9091" ]